@model RrCms.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>News</legend>

    <div class="display-label">DisplayOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayOrder)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">MenuTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MenuTitle)
    </div>

    <div class="display-label">HtmlDesription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HtmlDesription)
    </div>

    <div class="display-label">HtmlKeywords</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HtmlKeywords)
    </div>

    <div class="display-label">FriendlyUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FriendlyUrl)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">TextMain</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextMain)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">EditDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditDate)
    </div>

    <div class="display-label">EditUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditUser)
    </div>

    <div class="display-label">IsDraft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDraft)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NewsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
