@model IEnumerable<RrCms.Models.Contact>
@{
    ViewBag.Title = "Список контактов";
}
<h2>
    Список контактов</h2>
    <p>
    @Html.ActionLink("Создать контакт", "Create")
</p>
<div class="contacts">
    @foreach (var item in Model)
    {
        <div class="contact">
            <div class="contact-label">
                @Html.LabelFor(model => item.ContactId) :
            </div>
            <div class="contact-field">
                @Html.ActionLink(Convert.ToString(item.ContactId), "Details",new { id = item.ContactId })
            </div>
            <div class="contact-label">
                @Html.LabelFor(model => item.DisplayOrder) :
            </div>
            <div class="contact-field">
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </div>
            <div class="contact-label">
                @Html.LabelFor(model => item.Text) :
            </div>
            <div class="contact-field">
                @Html.DisplayFor(modelItem => item.Text)
            </div>
        </div>
    }
</div>
