<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/AdminArea.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jquery.cleditor.css")" rel="stylesheet" type="text/css" /> 
        @RenderSection("scripts", false) @*место для локальных скриптов и стилей*@
    </head>
    <body>
        <header><a href="/">
                    
            <h1>На главную</h1></a>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Статьи", "Index", "Article")</li>
                    <li>@Html.ActionLink("Контакты", "Index", "Contact")</li>
                    <li>@Html.ActionLink("Новости", "Index", "News")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Feedback")</li>
                    <li>@Html.ActionLink("Параметры", "Index", "Param")</li>
                    <li>@Html.ActionLink("Ссылки", "Index", "FriendlyUrl")</li>
                    
                </ul>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
