        <meta charset="utf-8" />
@if (!string.IsNullOrWhiteSpace(@ViewBag.Title)){
        <title>@ViewBag.Title</title>}
@if (!string.IsNullOrWhiteSpace(@ViewBag.Keywords)){
        <meta name="keywords" content="@ViewBag.Keywords" />}
@if (!string.IsNullOrWhiteSpace(@ViewBag.Description)){
        <meta name="description" content="@ViewBag.Description" />}
        @*<link rel="icon" href="/favicon.ico" type="image/x-icon">*@
        @*<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">*@
        @*<link rel="icon" type="image/gif" href="../../favicon.gif">*@