<!DOCTYPE html>
<html>
    <head>
@Html.Partial("_head")
@Html.Partial("_scripts")  @*общие скрипты, стили счетчики*@
@RenderSection("scripts", false) @*место для локальных скриптов и стилей*@
    </head>
<body>
    <div class="page">
@Html.Partial("_header")
        <section id="main">
            @RenderBody()
        </section>
@Html.Partial("_footer")
    </div>
</body>
</html>
